<app-navigation></app-navigation>



<section class="p-3">
  <div class="container">
      <h1 class="text-center bg-light shadow py-2 mb-4 text-info">COVID-19 PREVENTIVE MEASURES</h1>
      <div class="row g-3 text-center shadow ">
          <div class="col-md mb-3">
              <div class="card bg-primary text-white" >
                  <img src="img/wash-4934590_1920.jpg" class="card-img-top img-fluid">
                  <div class="card-body">
                    <h5 class="card-title">WASH YOUR <br> HANDS</h5>
                    <p class="card-text">Wash Hands thoroughly for 20 seconds with soap and clean water</p>

                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-primary text-white">
                  <img src="img/call-5077271_1920.jpg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">SOCIAL <br> DISTANCE</h5>
                    <p class="card-text">Wash Hands thoroughly for 20 seconds with soap and clean water</p>

                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-primary text-white">
                  <img src="img/wash-4934590_1920.jpg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">WEAR A MASK <br> IN PUBLIC</h5>
                    <p class="card-text">Wash Hands thoroughly for 20 seconds with soap and clean water</p>

                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-primary text-white">
                  <img src="img/hand-disinfection-4954816_1920.jpg" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">SANITIZE <br>FREQUENTLY</h5>
                    <p class="card-text">Regularly and thoroughly clean your hands with an alcohol-based hand rub</p>

                  </div>
              </div>
          </div>
      </div>
      <h1 class="text-center bg-light shadow py-2 my-4 text-danger">FOLLOW GOVERNMENT GUIDELINES AND SOPs</h1>
  </div>
</section>


