<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container">
      <a routerLink="/home" class="navbar-brand">Covid 19</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav me-auto text-uppercase ">
              <li class="nav-item">
                  <a routerLink="/global" class="nav-link">Global</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/uganda" class="nav-link">Uganda </a>
              </li>
              <li class="nav-item">
                  <a  routerLink="/causes" class="nav-link">Causes</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/symptoms" class="nav-link">Symptoms</a>
              </li>
              <li class="nav-item">
                  <a routerLink="/prevention" class="nav-link">Prevention</a>
              </li>
          </ul>
          <form class="d-flex" style="width: 400px;">
              <input type="search" class="form-control  me-2 " style="border-radius: 0;">
              <button class="btn btn-outline-light">Search</button>
          </form>
      </div>
  </div>
</nav>
