<app-navigation></app-navigation>
<section class="p-3">
  <div class="container-fluid">
    <h1 class="text-center bg-light shadow py-2 mb-4 text-info">COVID-19 UGANDA  STATISTICS</h1>


</div>
</section>
<section class="p-2">
  <div class="container-fluid">

      <div class="row g-3 text-center shadow ">
          <div class="col-md mb-3">
              <div class="card bg-primary text-white" >
                  <div class="card-body">
                    <h1 class="card-title">TOTAL  CASES</h1>
                    <p class="card-text">{{ uganda.cases}} </p>

                  </div>
              </div>
          </div>
          <div class="col-md">
            <div class="card bg-primary text-white">
                <div class="card-body">
                  <h1 class="card-title"> TOTAL CASES</h1>
                  <p class="card-text">  {{ uganda.todayCases}} </p>

                </div>
            </div>
        </div>
          <div class="col-md">
              <div class="card bg-primary text-white">
                  <div class="card-body">
                    <h1 class="card-title"> TOTAL DEATHS</h1>
                    <p class="card-text">  {{ uganda.deaths}} </p>

                  </div>
              </div>
          </div>
          <div class="col-md">
              <div class="card bg-primary text-white">
                  <div class="card-body">
                    <h1 class="card-title"> TOTAL RECOVERED</h1>
                    <p class="card-text"> {{ uganda.recovered }} </p>

                  </div>
              </div>
          </div>

      </div>
  </div>
</section>

